<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Book form</title>
</head>
<body>
<h1>Book form</h1>

<form th:action="@{/books}" th:object="${book}" method="post">
  <input type="hidden" th:field="*{id}" />

  <div>
    <label>Name:</label>
    <input type="text" th:field="*{name}" />
  </div>
  <div>
    <label>Author:</label>
    <input type="text" th:field="*{author}" />
  </div>
  <div>
    <label>ISBN:</label>
    <input type="text" th:field="*{isbn}" />
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>

<a th:href="@{/books}">Back to list</a>
</body>
</html>
